*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
    text-transform: none;
    transition: all .2s linear;
    font-family: "Poppins", sans-serif;
}

html,body{
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
    
}

section{
    padding: 7rem 9%;
}

::selection{
  background: #2222229f;
}





/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;
  
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --white-color: hsl(0, 0%, 100%);
    --black-color: hsl(0, 0%, 0%);
  
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Montserrat Alternates", sans-serif;
    --h1-font-size: 1.5rem;
    --normal-font-size: .938rem;
  
    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
  
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
  }
  
  /*========== Responsive typography ==========*/
  @media screen and (min-width: 1150px) {
    :root {
      --normal-font-size: 1rem;
    }
  }
  
  /*=============== BASE ===============*/
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--white-color);
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  /*=============== REUSABLE CSS CLASSES ===============*/
  .container {
    max-width: 1120px;
    margin-inline: 1.5rem;
  }
  
  /*=============== HEADER & NAV ===============*/
  .header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--black-color);
    z-index: var(--z-fixed);
    padding: 1rem 0;
  }
  
  .nav {
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav__logo {
    font-size: 2.5rem;
    color: var(--white-color);
    font-weight: var(--font-medium);
  }
  
  .nav__close, 
  .nav__toggle {
    display: flex;
    color: var(--white-color);
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  /* Navigation for mobile devices */
  @media screen and (max-width: 1150px) {
    .nav__menu {
      position: fixed;
      left: -100%;
      top: 0;
      background-color: var(--black-color);
      width: 100%;
      height: 100%;
      padding: 6rem 3.5rem 4.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: left .4s;
    }
  
    .nav__item {
      transform: translateX(-150px);
      visibility: hidden;
      transition: transform .4s ease-out, visibility .4s;
    }
  
    .nav__item:nth-child(1) {
      transition-delay: .1s;
    }
    .nav__item:nth-child(2) {
      transition-delay: .2s;
    }
    .nav__item:nth-child(3) {
      transition-delay: .3s;
    }
    .nav__item:nth-child(4) {
      transition-delay: .4s;
    }
    .nav__item:nth-child(5) {
      transition-delay: .5s;
    }
  }
  
  .nav__list, 
  .nav__social {
    display: flex;
  }
  
  .nav__list {
    flex-direction: column;
    row-gap: 3rem;
  }
  
  .nav__link {
    position: relative;
    color: var(--white-color);
    font-size: var(--h1-font-size);
    font-weight: var(--font-medium);
    display: inline-flex;
    align-items: center;
    transition: opacity .4s;
  }
  
  .nav__link i {
    font-size: 1.5rem;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s, visibility .4s;
  }
  
  .nav__link span {
    font-size: 1.5rem;
    position: relative;
    transition: margin .4s;
  }
  
  .nav__link span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background-color: var(--white-color);
    transition: width .4s ease-out;
  }
  
  /* Animation link on hover */
  .nav__link:hover span {
    margin-left: 2.5rem;
  }
  
  .nav__link:hover i {
    opacity: 1;
    visibility: visible;
  }
  
  .nav__link:hover span::after {
    width: 100%;
  }
  
  /* Sibling fade animation */
  .nav__list:has(.nav__link:hover) .nav__link:not(:hover) {
    opacity: .4;
  }
  
  .nav__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
  }
  
  .nav__social {
    column-gap: 1rem;
  }
  
  .nav__social-link {
    color: var(--white-color);
    font-size: 2.1rem;
    transition: transform .4s;
  }
  
  .nav__social-link:hover {
    transform: translateY(-.25rem);
  }
  
  /* Show menu */
  .show-menu {
    left: 0;
  }
  
  /* Animation link when displaying menu */
  .show-menu .nav__item {
    visibility: visible;
    transform: translateX(0);
  }
  
  /*=============== BREAKPOINTS ===============*/
  /* For large devices */
  @media screen and (min-width: 1150px) {
    .container {
      margin-inline: auto;
    }
  
    .nav {
      height: calc(var(--header-height) + 2rem);
    }
  
    .nav__toggle, 
    .nav__close {
      display: none;
    }
  
    .nav__link {
      font-size: var(--normal-font-size);
    }
  
    .nav__link i {
      font-size: 1.5rem;
    }
  
    .nav__list {
      flex-direction: row;
      column-gap: 3.5rem;
    }
  
    .nav__menu {
      display: flex;
      align-items: center;
      column-gap: 3.5rem;
    }

  }

  .nav__logo img{
    width: 120px;
    object-fit: cover;
  }


/* =========== Home Page Start =========== */
  .home{
      width: 100%;
      height: 100vh;
      background: rgba(0, 0, 0, 0.295) url(../image/TravelingWebsiteImage1.jpg);
      background-blend-mode: darken;
      background-position: center;
      background-size: cover;
      display: grid;
      grid-template-columns: repeat(1,1fr);
  }
  .home .home_text{
    padding-top: 5rem;
    text-align: center;
    align-items: center;
    margin: auto;
  }
  
  .home .home_text #name{
    font-size:1.5rem;
    color: white;
    font-weight: 600;
  }
  
  .home .home_text h1{
    font-size: 4rem;
    padding: 1rem 0;
    color: white;
  }
  
  .home .home_text h2{
    font-size: 4rem;
    color: white;
  }
  
  .home .home_text p{
    font-size: 1.5rem;
    color: whitesmoke;
    max-width: 415px;
  }

  .serachBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #dff9fb;
    width: 360px;
    height: 5rem;
    margin: auto;
    padding: 1rem;
    gap: 10px;
    border-radius: 50px;
  }

  .serachBar input{
    width: 100%;
    height: 100%;
    background: transparent;
    color: #033943;
  }

  .serachBar i{
    font-size: 1.5rem;
  }

  .serachBar button{
    height: 100%;
    border: none;
    outline: none;
    background: #033943;
    color: white;
    padding: 1rem;
    line-height: 10px;
    border-radius: 50px;
    cursor: pointer;
  }

  /* Card Section Start */
  .card_section{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .card_section .card p{
    font-size: 1.1rem;
    letter-spacing: 1px;
    max-width: 300px;
    margin: auto;
    padding-top: 2rem;
  }
  lord-icon{
    cursor: pointer;
  }


  .gelarayBox{
    width: 100%;
  }

  .gelarayBox .gelarytext{
    width: 100%;
    /* display: grid;
    grid-template-columns: repeat(2,1fr); */
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
  .gelarayBox .gelarytext .text1 h1{
    font-size: 2.5rem;
    font-weight: 600;
  }

  .gelarayBox .gelarytext .text1 span{
    font-size: 1.5rem;
    line-height: 5rem;
  }
  .gelarayBox .gelarytext .text2{
    text-align: start;
  }
  .gelarayBox .gelarytext .text2 p{
    max-width: 300px;
    font-size: 1.1rem;
    letter-spacing: 1px;
    padding-bottom: 2.5rem;
    line-height: 2rem;
  }

  .gelarayBox .gelarytext .text2 button{
    outline: none;
    border: none;
    background: transparent;
    color: #033943;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
  }

  .gelarayBox .gelarytext .text2 button i{
    background: #ffffff;
    color: #033943;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50px;
    transition: all 0.7s ease;
  }

  .gelarayBox .gelarytext .text2 button:hover i{
    background: #033943;
    color: #dff9fb;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50px;
    transition: all 0.7s ease;
    rotate: 360deg;
  }


  .glarayImae{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    padding-top: 4rem;
  }

  .gelarayImage1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 4rem;
  }

  .gelarayImage1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.5s ease;
  }

  .gelarayImage1 img:hover{
    transform: scale(1.1);
  }

  .topImage{
    overflow: hidden;
    border-radius: 10px;
    position: relative;
  }

  .overley{
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding: 2rem;
    font-size: 1.4rem;
  }
  .gelarayimage2{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding-top: 2.5rem;
    gap: 2rem;
  }

  .gelarayimage2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.5s ease;
    border-radius: 10px;

  }

  .gelarayimage2 .images{
    overflow: hidden;
    border-radius: 10px;
    position: relative;
  }

  .gelarayimage2 img:hover{
    transform: scale(1.1);
  }




  /* ==== another box section start ======= */
  .another_box .box1{
    display: grid;
    grid-template-columns: 2fr 1.6fr;
    gap: 2rem;
  }
  .another_box .box1 .card{
    width: 100%;
    border-radius: 10px;
  }
  .another_box .box1 #card{
    border: 2px solid #033943;
    padding: 1rem;
  }


  .another_box .box1 .card .text span{
    font-size: 1.5rem;
  }

  .another_box .box1 .card .text h1{
    font-size: 3.5rem;
  }

  .another_box .box1 .card .text p{
    font-size: 1.5rem;
    padding: 1rem 0;
  }

  .another_box .box1 .card .butn_icon{
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
  }

  .another_box .box1 .card button{
    outline: none;
    border: none;
    font-size: 1.5rem;
    background: #033943;
    color: #dff9fb;
    padding: 1rem;
    border-radius: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .another_box .box1 .card img{
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 10px;
  }

  .another_box .box2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 4rem 0;
    gap: 3rem;
    border-radius: 10px;
    overflow: hidden;
  }
  .another_box .box2 .card {
    overflow: hidden;
    border-radius: 10px;
    position: relative;
  }

  .another_box .box2 .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s linear;
  }

  .another_box .box2 .card img:hover{
    transform: scale(1.1);
  }


 /* Revew Section Start */

 .revew{
  background: rgba(0, 0, 0, 0.39) url(../image/wather.jpg);
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;
  width: 100%;
 }

 .grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 3rem;
 }

 .revew .card{
  width: 100%;
  padding: 1.5rem;
  background: white;
  border-radius: 5px;
 }

 .revew .card .persone img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50px;
 }

 .revew .card  .persone{
  display: flex;
  gap: 2rem;
  padding-bottom: 2.5rem;
 }

 .revew .card  p{
  font-size: 1.2rem;
  letter-spacing: 1px;
 }



















  /* RESPONSIVE */
  @media(max-width: 568px){
    .home{
      padding-right: 4rem;
    }

    .home .home_text h1{
      font-size: 3rem;
      padding: 1rem 0;
      color: white;
    }
    
    .home .home_text h2{
      font-size: 3rem;
      color: white;
    }
    
    .serachBar{
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #dff9fb;
      width: 310px;
      height: 5rem;
      margin: auto;
      padding: 1rem;
      gap: 10px;
      border-radius: 50px;
    }

    .nav__logo img{
      width: 90px;
      object-fit: cover;
    }

    .card_section{
      width: 100%;
      display: grid;
      grid-template-columns: repeat(1,1fr);
      gap: 3rem;
      text-align: center;
      align-items: center;
      justify-content: center;
    }

    .gelarayBox .gelarytext{
      width: 100%;
      display: grid;
      grid-template-columns: repeat(1,1fr);

      justify-content: space-between;
      gap: 2rem;
    }

    .gelarayImage1{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      gap: 4rem;
    }

    .gelarayimage2{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      padding-top: 2.5rem;
      gap: 2rem;
    }

    .another_box .box1{
      display: grid;
      grid-template-columns:repeat(1,1fr);
      gap: 2rem;
    }

    .another_box .box1 .card .text span{
      font-size: 1.5rem;
    }
  
    .another_box .box1 .card .text h1{
      font-size: 2.5rem;
    }
  
    .another_box .box1 .card .text p{
      font-size: 1.2rem;
      padding: 1rem 0;
    }

    .another_box .box2{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      padding: 4rem 0;
      gap: 3rem;
      border-radius: 10px;
      overflow: hidden;
    }

    .grid{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      gap: 3rem;
     }
  }
  

